<h1>Lista de Contatos</h1>

<input type="text" placeholder="Pesquisar contato" [(ngModel)]="busca" (keyup)="filtrarContatos()">
<button routerLink="/criar-contato">Criar Contato</button>

<div class="condicional-laco">
    @if(lista.length > 0){
    @for(c of lista; track $index){
    <p>{{ c.nome }}</p>
    <div>
        <button routerLink="/visualizar-contato/{{ c.id }}">Visualizar</button>
        <button routerLink="/editar-contato/{{ c.id }}">Editar</button>
        <button routerLink="/excluir-contato/{{ c.id }}">Excluir</button>
    </div>
    }
    }
    @else{
    <p>Lista vazia"</p>
    }
</div>
