body {
    background-color: #333; /* Cor de fundo escura para o modo escuro */
    color: #fff; /* Cor do texto para o modo escuro */
}

h1 {
    color: #fff; /* Cor do título para o modo escuro */
}

.condicional-laco {
    margin-top: 20px;
}

.condicional-laco p {
    margin-bottom: 10px;
}

.condicional-laco div {
    display: flex;
    align-items: center; /* Alinhar itens verticalmente */
}

.condicional-laco button {
    margin-left: 10px;
    background-color: #444; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto dos botões */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.condicional-laco button:hover {
    background-color: #555; /* Cor de fundo dos botões ao passar o mouse */
}
