body {
    background-color: #333; /* Cor de fundo escura para o modo escuro */
    color: #fff; /* Cor do texto para o modo escuro */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Para ocupar toda a altura da viewport */
}

.container {
    text-align: left; /* Alinhar o texto à esquerda */
}

h1 {
    color: #fff; /* Cor do título para o modo escuro */
}

form {
    margin-top: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar os itens à esquerda */
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #fff; /* Alterado para borda branca */
    background-color: #444;
    color: #fff;
}

input::placeholder {
    color: #fff; /* Alterado para cor do placeholder branca */
}

input:focus {
    outline: none;
    border-color: #fff;
}

.botoes {
    margin-top: 20px;
}

.botoes button {
    margin-right: 10px;
    background-color: #3498db; /* Alterado para azul claro */
    color: #fff; /* Cor do texto dos botões */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.botoes button:hover {
    background-color: #5aa9e0; /* Alterado para tom mais escuro ao passar o mouse */
}
