/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Cor de fundo escura para o modo escuro */
    color: #fff; /* Cor do texto para o modo escuro */
}

